<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        />
        <title>{% block title %}Component Wiki{% endblock %}</title>
        <link rel="stylesheet" href="/static/css/page.css" />
    </head>
    <body>
        <section class="content-container">
            <div class="row scrollable-row">
                <aside class="col-3 scrollable-sidebar">
                    <side-navigation 
                        nav-items='{{ nav_items | tojson }}'
                        current-slug="{{ current_slug or '' }}"
                    ></side-navigation>
                </aside>

                <main class="col-9 scrollable-content">
                    <div>{% block content %}{% endblock %}</div>
                </main>
            </div>
        </section>
        
        <script type="module" src="/static/js/components.js"></script>
    </body>
</html>