# Coda API Token
# Get your token at: https://coda.io/account
CODA_API_TOKEN=your_coda_api_token_here

# Coda Doc ID
# The ID of the doc you want to retrieve content from
CODA_DOC_ID=your_doc_id_here

# Coda Table ID
# The ID of the table you want to retrieve data from
CODA_TABLE_ID=your_table_id_here

# Coda Change Log Table ID
# The ID of the change log table
CODA_CHANGELOG_TABLE_ID=your_changelog_table_id_here

# Coda Properties Table ID
# The ID of the properties table
CODA_PROPERTIES_TABLE_ID=your_properties_table_id_here
