// Override assets path to use local fonts
$assets-path: "/fonts/";

@import "vanilla-framework";
@include vanilla;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    margin: 0;
    scrollbar-gutter: stable;
}

body {
    margin: 0;
}

// Documentation layout styles
.l-docs__sidebar {
    side-navigation {
        display: block;
        height: 100%;
    }
}
